@(title: String)(content: Html)(implicit flash: Flash)
@errorFieldset(error: String) = {
    <fieldset style="border: 1px red solid;
        color: red">
        <legend>Error</legend>
        @error
    </fieldset>
}
@successFieldset(success: String) = {
    <fieldset style="border: 1px green solid;
        color: green">
        <legend>Success</legend>
        @success
    </fieldset>
}

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
    </head>
    <body>
        <a href="@routes.UserService.login">Login</a>
        <a href="@routes.TasksController.taskList">Tasks</a>
        <br>
            @flash.get("error").map(e => errorFieldset(e))
            @flash.get("success").map(s => successFieldset(s))
            @content
            @scalajs.html.scripts("client", routes.Assets.versioned(_).toString, name => getClass.getResource(s"/public/$name") != null)
    </body>
</html>
