@(tasks: Seq[String])(implicit requestHeader: RequestHeader, flash: Flash)

@main("Task list"){
  <h2>List of tasks</h2>
  <ul>
    @for((task, i) <- tasks.zipWithIndex){
      <li>@task</li>
      <form action="@routes.TasksController.deleteTask" method="post">
        @helper.CSRF.formField
      <input type="hidden" name="index" value="@i">
      <input type="submit" value="Delete">
      </form>
    }
  </ul>

  <form action="@routes.TasksController.addTask" method="post">
    @helper.CSRF.formField
    <label for="newTask">New Task</label>
    <input type="text" name="newTask" id="newTask">
    <input type="submit" value="Submit">
  </form>

  <div>
    <a href="@routes.UserService.logout">Logout</a>
  </div>
}

